.w-40rem {
    width: 40rem;
}
.h-40rem {
    height: 40rem;
}
.h-36rem {
    height: 36rem;
}
.triangle-bottom{
    width: 0;
    height: 0;
    border-left: 1.4rem solid transparent;
    border-right: 1.4rem  solid transparent;
    border-bottom: 17.5rem solid #3498db;
    
    
}
.triangle-top{
    width: 0;
    height: 0;
    border-left: 1.4rem solid transparent;
    border-right: 1.4rem  solid transparent;
    border-top: 17.5rem solid #3498db;
    margin-top: 120px;
    
    
}